@model IEnumerable<MicroMarket.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<form method="get" asp-action="Index">
    <input 
        type="text" 
        name="searchString" 
        value="@Context.Request.Query["searchString"]" 
        placeholder="Buscar por nro de venta o nombre de cliente" />
    <button type="submit">Buscar</button>
</form>



<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NroVenta)</th>
            <th>@Html.DisplayNameFor(model => model.FechaVenta)</th>
            <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.Producto)</th>
            <th>@Html.DisplayNameFor(model => model.PrecioUnidad)</th>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <th>@Html.DisplayNameFor(model => model.Cliente)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NroVenta)</td>
            <td>@Html.DisplayFor(modelItem => item.FechaVenta)</td>
            <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
            <th>@Html.DisplayFor(modelItem => item.Producto!.Info)</th>
            <td>@Html.DisplayFor(modelItem => item.PrecioUnidad)</td>
            <td>@Html.DisplayFor(modelItem => item.Total)</td>
            <td>@Html.DisplayFor(modelItem => item.Cliente.Info)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VentaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VentaId">Recibo</a> |
                <a asp-action="Delete" asp-route-id="@item.VentaId">Borrar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
